#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Theme 3 color */
  --bgcolor: hsl(281, 89%, 26%);
  --bgcolorScreen: hsl(268, 71%, 12%);
  /*keys font color*/
  --Darkviolet-keybackground: hsl(281, 89%, 26%);
  --Vivid-magenta-keyshadow: hsl(285, 91%, 52%);
  
  --Purecyan-keybackground-toggle: hsl(176, 100%, 44%);
  --Softcyan-keyshadow: hsl(177, 92%, 70%);

  --Verydarkviolet-keybackground: hsl(268, 47%, 21%);
  --Darkmagenta-keyshadow: hsl(290, 70%, 36%);
  /*text color*/
  --Lightyellow: hsl(52, 100%, 62%);
  --Verydarkblue: hsl(198, 20%, 13%);  
  --White-text: hsl(0, 0%, 100%);
  /*font size*/
  --Fontsize-numbers: 32px;
  --font-family:[League Spartan]
  --fontWeights: 700;
}
@import url(https://fonts.google.com/specimen/League+Spartan);


